{% extends "layout.html.j2" %}
{% block body %}


<div class="info" id="description">
    <p> Welcome to Article Friend! </p>

    <p></p>Article Friend is a resource designed for researchers interested in generating accessible, aphasia-friendly
    versions of their research for people with aphasia.</p>
    <p>Article Friend is free to use and is continually being refined.</p>
    <p>Article Friend is described in the following pre-print, where you can find more information: </p>
    <p class="citation"> Kasdan AV, Levy DF, Pedisich IM, Wilson SM, Herrington D <i>(In revisions)</i><br />
        <b>A practical guide to translating scientific publications into aphasia-friendly summaries.</b>
        <a href="https://osf.io/37usj">https://osf.io/37usj</a>
    </p>
</div>

<br /><br />

<div class="begin-container">
    <a {% if authenticated %}href="/summarize" {% else %} href="/auth" {%endif%} class="button begin-button"> Click here
        to
        begin </a>
</div>
<br /><br />


<div class="info" id="faq">
    <h2> FAQ </h2>

    {% set faq = [
    {
    "Q": "Who is Article Friend for?",
    "A": "Article Friend is for researchers who want to make their research more accessible to individuals with
    aphasia."
    },
    {
    "Q": "Who is Article Friend NOT for?",
    "A": "Article Friend is NOT currently intended for use by individuals without research expertise.
    Large language models, such as those used here, can often 'hallucinate' and misunderstand inputted texts.
    All output should be edited and verified by someone with research expertise before results are made public."
    },
    {
    "Q": "Why do you need to authenticate my Google account in order for me to use Article Friend? ",
    "A": "The output of Article Friend is currently output to Google Docs, which requires the authentication of a Google
    account.
    This authentication to Google is temporary, and Article Friend only has access to the document it produced.
    We do not store any information about your account."
    }
    ]%}
    {% for question in faq %}
    <details>
        <summary> {{ question["Q"] }} </summary>
        <div class=answer>
            <p>{{ question["A"] }}</p>
        </div>
    </details>
    {% endfor %}


</div>


{% endblock %}