{% extends "layout.html.j2" %}
{% block body %}


<div id="description">
    <p> In order to proceed, you must authenticate with Google so that we can write the output to your Google Drive. </p>

    Click <a href="/authorize">here</a> to authenticate with Google.
</div>



{% endblock %}
