name: Dev deployment
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  deploy:
    name: Deploy proxy
    runs-on: ubuntu-latest
    if: github.event.sender.login == 'deb-levy' || github.event.sender.login == 'isaac-ped' || github.event.sender.login == 'RyanAJensen'
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
        with:
          version: 0.3.85
      - run: flyctl deploy --remote-only --config dev.fly.toml --access-token "$FLY_API_TOKEN"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_DEV_API_TOKEN }}
